@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@100;700&display=swap');

html, body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.ui {
  background-color:white;
  height : 100%;
  width : 15%;
  display: block;
}

.main{
  width:auto;
  height:100%;
  display:block;
}



#txt{
  font-size : 1vw;
}


h2{ 
  display : block;
  float : left;
  width : 28%;
}

p{
  display : block;
  float : left;
  width : 48%;
}